# Ignora todos os node_modules em qualquer subpasta
**/node_modules/

# Ignorar pastas de build (React ou outros serviços que fazem build)
**/build/
**/dist/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de lock alternativos (caso use só um gerenciador, mantenha só o seu)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignorar arquivos de ambiente (como .env)
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Diretórios temporários
.tmp/
temp/
.cache/
coverage/
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Test output
**/test-results/
